<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Dashboard page</title>
  </head>
  <body>
    <header>
      <h1>Dashboard Page</h1>
    </header>
    <main>
      <div class="outter" >
        <div class="inner">
          <h2>Name:</h2>
          <p>{{ current_user.name }}</p>
          <br>
          <h2>Email:</h2>
          <p>{{ current_user.email }}</p>
          <br><br>
          <p style="text-align: center;">Click here to <a href="/logout">logout</a></p>
        </div>
      </div>
    </main>
    <footer>
      <p>Made by Rahul Rawat Gujjar</p>
    </footer>
  </body>
</html>